<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projeto Eleições</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#candidatoId1").attr("checked", "checked");
            })
        </script>
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>Projeto Eleição DATA A</h1>
            </div>
            <hr/>
            <div th:if="${eleicoes != null}">
                <div th:if="${mensagem != null}">
                    <div class="alert alert-info" role="alert">
                        <span th:text="${mensagem}">mensagem</span>
                    </div>
                </div>
                <form th:action="@{/eleicao/{eleicaoId}/eleitor/{eleitorId}/cargo/{cargoId}/salvar(eleicaoId=${eleicaoId}, eleitorId=${eleitorId}, cargoId=${cargoId})}" th:method="${votacao.id} == 0 ? post : put" th:object="${votacao}">
                    <input id="id" type="hidden" th:field="*{id}"/>
                    <table  class="table">
                        <thead>
                            <tr>
                                <th>Nome Candidato</th>
                                <th>Cargo</th>
                                <th>Selecionar</th>
                            </tr>
                        </thead>
                        <div th:each="cargo : ${cargos}">
                            <tr th:each="candidato, c: ${candidatos}" th:if="${candidato.cargoId.id} == ${cargoId}">
                                <td th:text="${candidato.nomeCandidato}">candidato</td>
                                <td th:text="${cargo.nomeCargo}">nomeCargo</td>
                                <td><input type="radio" th:name="candidatoId" th:field="*{candidatoId}" th:value="${candidato.id}" checked="true"/></td>
                            </tr>
                        </div>
                    </table>
                    <div th:if="${#fields.hasErrors('candidatoId')}" th:errors="*{candidatoId}"></div>
                    <div th:if="${mensagem != null}">
                        <div class="alert alert-info" role="alert">
                            <span th:text="${mensagem}">mensagem</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
            <div th:if="${#lists.isEmpty(eleicoes)}">
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    0 candidatos registrados!
                </div>
            </div>
            <hr/>

            <a class="btn btn-light" th:href="@{/eleicao/{id}/eleitor/{eleitorId}/listar(id=${eleicaoId}, eleitorId=${eleitorId})}">Voltar</a>
            <hr/>

            <footer class="footer">
                <p>&copy; 2019 Allan Christian Vieira</p>
            </footer>

        </div>
    </body>
</html>